@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Sora", 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
  font-size: 1rem;
}

.swiper-pagination-bullet-active {
  background-color: #3b82f6 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #3b82f6 !important;
} 

input::placeholder {
  color: #333;
}